/*//////////////////// UNIVERSAL /////////////////////*/

body {
    background-image: url("../images/what-the-hex-dark/what-the-hex-dark.png");
    background-repeat: repeat;
   
}

h1 {
    animation: fadein 1.5s;
   
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}



/*//////////////////// NAVBAR /////////////////////*/

nav {
    border-bottom: 2px solid rgb(73, 73, 73);
}

.navbar {
    background-color: #ffffff;
    padding: 0;
}

.navbar-toggler {
    padding: 5px;
    
}

#navbarNav .navbar-nav .nav-item a {
    padding: 13px 30px 14px 30px;
    transition-duration: 0.2s;
    font-size: 1.2em;
}

#navbarNav .navbar-nav .nav-item a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

.container .navbar-brand, .container .navbar-brand:focus {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 13px 10px 13px 10px;
    font-weight: bold;
}

.container .navbar-brand:hover {
    color: #ebebeb;
    background-color: #439995;
    transition-duration: 0.2s; 
}
.container .navbar-brand:active {
    color: #acacac;
    background-color: #3b8683; 
}


/*//////////////////// ABOUT /////////////////////*/



.jumbotron {
    background-color: #ffffff;    
    margin-top: 5rem;
    margin-bottom: 7rem;
    padding-top: 2rem;
}

.card h4 {
    font-size: 2em;
}

.card-about {
    border: none;
}

.card-body {
    border: none;
    background-color: #fcfcfc;    
    color: #4aaaa5;
    
}

.icon-size {
    width: 100%;
    height: auto;
    
}



.canvas-container {
    background-color: #fcfcfc;
    
}

#lineChart {
    height: 100%;
}


/*//////////////////// PORTFOLIO /////////////////////*/

#port-featured-card {
   z-index: 1;
    
}

.list-group-item {
    padding: 12px 20px;
    
}

#carouselExampleControls {
    
    height: auto;
}


.carousel-inner {
    
    border: 6px solid #ffffff;
}

.carousel-caption a {
    text-decoration: none;
    color: #ececec;
}

.carousel-caption h3:hover {
    background-color: #005e59e7;
    color: #ffffff;
    transition-duration: 0.2s;
  
}


.carousel-item h3 {
    background-color: #181818ea;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    font-size: 2rem;
}



/*//////////////////// CONTACT /////////////////////*/


form {
    width: 80%;
    margin-top: 3rem;
}

.form-container {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.form-group {
    padding: 5px;
    
}


#formGroupExampleInput4 {    
    height: 200px;
  }

.card ul button {
    width: 100%;
}


/*//////////////////// FOOTER /////////////////////*/

footer {
    width: 100vw;
    background: #181818;
    border-top: 8px solid #4aaaa5;
    
}


#copy {
    color: #ffffff;
    font-size: 0.9rem;
    
}

.icons-wrapper li {
    display: inline-flex;
    
   
}


.icons-wrapper span a {
    font-size: 3em;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 25px 5px 25px;
}

.icons-wrapper span a:hover {
    background-color: #3b3b3b;
    transition-duration: 0.2s;
}


#linkedin a:hover {
    color: #007bb5;
}

#github a:hover {
    color: #000000;
}

#twitter a:hover {
    color: #1da1f2;
}





/*//////////////////////////////// MEDIA QUERIES ////////////////////////////////*/

@media (min-width: 1600px) {

    h2 {
        font-size: 2em;
    }
    
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

    h2 {
        font-size: 1.7em;
    }
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

h2 {
    font-size: 1.8em;
}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    h2 {
        font-size: 1.7em;
    }

    #copy {
        color: #ffffff;
        font-size: 0.8rem;
        
    }

    #contact-inquiries {
        font-size: 1.2em;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    h2 {
        font-size: 1.6em;
    }

    .icons-wrapper span a {
        font-size: 2em;
        
    }

    #copy {
        color: #ffffff;
        font-size: 0.7rem;
        
    }

    #carousel-button-1, #carousel-button-2 {
        width: 50%;
        margin: auto;
        
    }

    #port-featured-card {
        width: 94%;
    }
    
}


@media (max-width: 738px) {

    h2 {
        font-size: 1.2em;
    }

    

}


@media (max-width: 576px) {
    h2 {
        font-size: 1.8em;
    }

    #carousel-button-1, #carousel-button-2 {
        width: 70%;
        margin: auto;
        
    }

    
    
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    #contact-inquiries {
        font-size: 0.8em;
    }

    #port-featured-card {
        width: 93%;
    }

    
}


/*///*/

