/*//////////////////// UNIVERSAL /////////////////////*/

body, #nav, footer {
	background-image: url("../images/what-the-hex-dark/what-the-hex-dark.png");
	background-repeat: repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

header {
	height: 100vh;
}

.container-fluid {
	padding: 2em;
}

main {
	background-image: url("../images/me-background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#contact {
	background-image: url("../images/river-background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

h2, h3, p {
	color: #ffffff;
}

.jumbotron-fluid h2, h2 a {
	color: #929292;
}

h2 a, h2 a:hover {
	font-size: 1.7rem;
	color: #747474;
	text-decoration: none;
}

/*//////////////////// NAVBAR /////////////////////*/

#nav {
	padding: 0;
	display: none;
	background-color: #181818;
}

.navbar-toggler {
	padding: 5px;
}

#navbarNav .navbar-nav .nav-item a {
	padding: 13px 30px 14px 30px;
	transition-duration: 0.2s;
	font-size: 1.2em;
}

.container .navbar-brand, .container .navbar-brand:focus {
	color: #ffffff;
	padding: 13px 10px 13px 10px;
	font-weight: bold;
}

.container .navbar-brand:hover {
	color: #ebebeb;
	transition-duration: 0.2s;
}

.container .navbar-brand:active {
	color: #acacac;
}

/*//////////////////// SIDENAV /////////////////////*/

#side-links {
	width: 80px; 
	height: 100vh; 
	position: fixed; 
	display: flex; 
	justify-content: center; 
	flex-direction: column;
	z-index: 9999;
}

/*//////////////////// ABOUT /////////////////////*/

h1 {
	color: #ffffff;
}

.jumbotron {
	background-color: #ffffff;
	margin-top: 5rem;
	margin-bottom: 0;
	border-radius: 0;
}

.card h4 {
	font-size: 2em;
}

.card-about {
	border: none;
}

.card-body {
	border: none;
	background-color: #fcfcfc;
	color: #4aaaa5;
}

.icon-size {
	width: 100%;
	height: auto;
}

/*//////////////////// PORTFOLIO /////////////////////*/

.pointer {
	cursor: pointer;
}

.app-name {
	border: 4px solid #202020;
	text-align: center;
	padding: 1em;
}

.app-name:hover {
	color: #cccccc;
	border-color: #ebebeb;
	transition: 0.2s;
}

#portfolio img {
	height: auto;
	width: 100%;
	margin-bottom: 2em;
}

/*//////////////////// CONTACT /////////////////////*/

form {
	width: 100%;
	margin-top: 3rem;
}

.form-container {
	background-color: #000000a1;
	border-radius: 10px;
}

.form-group {
	padding: 5px;
}

#formGroupExampleInput4 {
	height: 200px;
}

.card ul button {
	width: 100%;
}

/*//////////////////// FOOTER /////////////////////*/

footer {
	width: 100vw;
}

#copy {
	color: #383838;
	font-size: 0.9rem;
}

.icons-wrapper li {
	display: inline-flex;
}

.icons-wrapper span a, #side-links div a {
	font-size: 3em;
	text-decoration: none;
	color: #383838;
	padding: 5px 25px 5px 15px;
}

.icons-wrapper span a:hover {
	transition-duration: 0.2s;
}

#linkedin a:hover {
	color: #007bb5;
}

#github a:hover {
	color: #b4b4b4;
}

#twitter a:hover {
	color: #1da1f2;
}

/*//////////////////////////////// MEDIA QUERIES ////////////////////////////////*/

@media (min-width: 1600px) {
	h3 {
		font-size: 2em;
	}
	.icons-wrapper {
		display: none;
	}
	.copy-div {
		padding: 10px, 0px;
	}
	#phone-icon {
		height: 400px;
		width: auto;
	}
}

/* Large desktops and laptops */

@media (min-width: 1200px) {
	h3 {
		font-size: 1.7em;
	}
	.icons-wrapper {
		display: none;
	}
	.copy-div {
		padding: 10px, 0px;
	}
	#port-featured-card {
		display: none;
	}
	#phone-icon {
		height: 350px;
		width: auto;
	}
	.port-icon {
		width: 100px;
	}
}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
	h3 {
		font-size: 1.8em;
	}
	.icons-wrapper {
		display: none;
	}
	.copy-div {
		padding: 10px 0px;
	}
	#phone-icon {
		height: 300px;
		width: auto;
	}
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
	h3 {
		font-size: 1.7em;
	}
	#side-links {
		visibility: hidden;
	}
	#copy {
		color: #383838;
		font-size: 0.8rem;
	}
	#contact-inquiries {
		font-size: 1.2em;
	}
	.canvas-container {
		height: auto;
	}
	#phone-icon {
		height: 250px;
		width: auto;
	}
	.form-container {
		margin: 0px 40px 0px 40px;
	}
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
	h3 {
		font-size: 1.6em;
	}
	#side-links {
		visibility: hidden;
	}
	.icons-wrapper span a {
		font-size: 2em;
	}
	#copy {
		color: #383838;
		font-size: 0.7rem;
	}
	.canvas-container {
		height: 320px;
	}
	#phone-icon {
		height: 250px;
		width: auto;
		margin-bottom: 20px;
	}
}

@media (max-width: 738px) {
	h3 {
		font-size: 1.2em;
	}
}

@media (max-width: 576px) {
	.jumbotron-fluid h1 {
		font-size: 1.7em;
	}
	.jumbotron-fluid h2 {
		font-size: 1.5em;
	}
	p {
		font-size: 0.9em;
	}
	.icon-size {
		height: 90px;
		width: auto;
	}
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
	#contact-inquiries {
		font-size: 0.8em;
	}
	.icon-size {
		height: 70px;
		width: auto;
	}
}

/*///*/